/* Core styles */
body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem; /*10 / 16 = 0.625rem */
    color: #797979;
    text-transform: uppercase;
    display: inline-block;
}

.section-title {
    margin-top: 0.3125rem;
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
}

.button {
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 1.26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    letter-spacing: 0px;
    font-family: "Roboto",sans-serif;
    line-height: 50px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    margin: 15px 0;
}

.button:hover {
    background-position: right center;
    color: #fff;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background: rgba(237,35,159,0.6);
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    border-radius: 5px;
}

/* Main header styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation {
    display: none;
    vertical-align: middle;
}

.main-navigation__items {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__items a {
     color: #05364d;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 0.75rem;
     font-weight: 500;
}

.main-navigation__items a:hover {
    color: #efb6df;
}

.main-navigation__items.active a {
    color: #efb6df;
}

/* Main section */

.main-banner {
    background: url(../images/home-banner.png.webp) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section {
    padding: 100px 30px;
}

.main-section > div {
    width: 50%;
    float: left;
}
.main-section__image {
    text-align: right;
}
.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E;
}

.main-section__position {
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section__social-networks a {
    color: #8FA1AA;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;

}

.main-section__social-networks a:hover i {
    color: #1C44E4;
}

.main-section__action {
    margin-top: 30px;
}

/* Footer section styles */
.footer {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #021017;
    text-align: center;
}

.footer__brand img {
    width: 128px;
    border-radius: 100px;
}

.footer__navigation-items  {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 1rem;
    margin-right: 12px;
}

.footer__social a {
      color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: white;
}

.footer__paragraph {
    color: #797979;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 92%;
    }

    /* Navigation */
    .main-navigation {
        display: none;
    }
    
    /* Footer */
    .footer__navigation {
        display: none;
    }

}